<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="components/head.html :: head"></div>
    <title>GymTracker - 404</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="components/sidebar.html :: sidebar"></div> 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="components/topbar.html :: topbar"></div> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        <a href="index.html">&larr; Back to Dashboard</a>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="components/footer.html :: footer"></div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="components/logoutmodal.html :: logoutmodal"></div> 
    <div th:replace="components/commonscripts.html :: commonscripts"></div> 
</body>
</html>