<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Exercises</title>
    <meta content="Adrian Villar" name="author">
    <meta content="Exercise list with a search form" name="description">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
<form id="idSearchForm">
    <div class="rendered-form">
        <input class="form-control" id="exerciseName" name="exerciseName" placeholder="Exercise name" type="text"/>
        <select class="form-control" id="musclegroup" name="musclegroup"
                onchange="loadSubMuscleGroups();loadTableData();">
            <option disabled selected value>Muscle group</option>
        </select>
        <select class="form-control" disabled id="submusclegroup" name="submusclegroup" onchange="loadTableData();">
            <option selected value>Sub muscle group</option>
        </select>
        <select class="form-control" id="loadtype" name="loadtype" onchange="loadTableData();">
            <option disabled selected value>Load type</option>
        </select>
        <label class="formbuilder-checkbox-group-label" for="unilateral">Unilateral</label>
        <input id="unilateral" onchange="loadTableData();" type="checkbox" value="true"/>
        <a href="newExercise">
            <button type="button">New</button>
        </a>
        <button>Search</button>
    </div>
</form>

<br/>

<table border="1" id="exercisesTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Muscle group</th>
        <th>Sub muscle group</th>
        <th>Load type</th>
        <th>Unilateral</th>
        <th>Actions</th>
    </tr>
</table>

<script>
    function loadMuscleGroups() {
        const select = $("#musclegroup");
        select.empty();
        select.append("<option selected value>Muscle group</option>");

        $.ajax({
            url: 'http://localhost:8080/api/muscleGroups',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    select.append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }
        });
    }

    function loadLoadTypes() {
        const select = $("#loadtype");
        select.empty();
        select.append("<option selected value>Load types</option>");

        $.ajax({
            url: 'http://localhost:8080/api/loadTypes',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    select.append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }
        });
    }

    function loadSubMuscleGroups() {
        const idMuscleGroup = $('#musclegroup option').filter(':selected').val();
        const select = $("#submusclegroup");
        select.empty();
        select.append("<option selected value>Sub muscle group</option>");
        select.prop("disabled", true);

        if (!idMuscleGroup) return;

        $.ajax({
            url: 'http://localhost:8080/api/muscleGroups/' + idMuscleGroup + "/muscleSubGroups",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    select.append('<option value="' + item.id + '">' + item.name + '</option>');
                });

                if (data) {
                    select.prop("disabled", false);
                }
            }
        });
    }

    function loadTableData() {
        const table = $("#exercisesTable");
        $('#exercisesTable > tr > td').remove();

        $.ajax({
            url: 'http://localhost:8080/api/exercises',
            type: 'get',
            dataType: 'json',
            data: $("#idSearchForm").serialize(),
            success: function (data) {
                $.each(data, function (i, item) {
                    table.append("<tr>" +
                        "<td>" + item.name + "</td><td>" + item.description + "</td>" +
                        "<td>" + item.muscleGroups + "</td><td>" + item.muscleSubGroups + "</td>" +
                        "<td>" + item.loadType + "</td><td>" + item.unilateral + "</td>" +
                        "<td><a href='newExercise'>Edit</a> - <a href='addExercise'>Delete</a></td></tr>");
                });
            }
        });
    }

    $(document).ready(function () {
        loadMuscleGroups();
        loadLoadTypes();
    });
</script>
</body>

</html>