<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>New exercise</title>
    <meta content="Adrian Villar" name="author">
    <meta content="Form for add a new exercise" name="description">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
<div class="modal" role="dialog" tabindex="-1">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New exercise</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="exerciseId" type="hidden" value="10"/>
                    <div class="formbuilder-text">
                        <label class="formbuilder-text-label" for="name">Name: </label>
                        <input class="form-control" id="name" name="name" placeholder="Exercise name" required
                               type="text">
                    </div>
                    <div class="formbuilder-text">
                        <label class="formbuilder-text-label" for="description">Description: </label>
                        <input class="form-control" id="description" name="description"
                               placeholder="Exercise description"
                               type="text">
                    </div>
                    <div class="formbuilder-select">
                        <label class="formbuilder-text-label" for="musclegroup">Muscle group: </label>
                        <select class="form-control" id="musclegroup" name="musclegroup" required>
                            <option disabled selected value>Select an option</option>
                            <option value="option-1">Chest</option>
                            <option value="option-3">Back</option>
                        </select>
                    </div>
                    <div class="formbuilder-select">
                        <label class="formbuilder-text-label" for="submusclegroup">Subuscle group: </label>
                        <select class="form-control" disabled id="submusclegroup" name="submusclegroup">
                            <option disabled selected value>Select an option</option>
                        </select>
                    </div>
                    <div class="formbuilder-select">
                        <label class="formbuilder-text-label" for="loadtype">Load type: </label>
                        <select class="form-control" id="loadtype" name="loadtype" required>
                            <option disabled selected value>Select an option</option>
                            <option value="option-1">Cable</option>
                            <option value="option-2">Barbell</option>
                        </select>
                    </div>
                    <div class="formbuilder-checkbox-group">
                        <label class="formbuilder-checkbox-group-label" for="unilateral">Unilateral</label>
                        <input id="unilateral" type="checkbox" value="true"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script></script>
</body>

</html>