<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="components/head.html :: head"></div>
    <title >GymTracker - Sesiones</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="components/sidebar.html :: sidebar"></div> 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="components/topbar.html :: topbar"></div>                

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"><a href="programs">Programas</a> > <spam th:text="${programName}">XXXXX</spam> > Sesiones</h1>
                    <p class="mb-4" >Lista de sesiones del programa <spam th:text="${programName}">XXXXX</spam></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col">                                    
                                    <h6 class="m-0 font-weight-bold text-primary">Sessiones</h6>
                                </div>
                                <div class="col text-right">  
                                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#programModal" onclick="setEditModalData();">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Nueva sesion
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">                                
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <script>
                    function loadTableData() {
                        const table = $("#dataTable").DataTable({
                            "columns": [
                                {"title": "Orden"},
                                {"title": "Nombre"},
                                {"title": "Fecha de creación"},
                                {"title": "Ejercicios"},
                                {"title": "Series"},
                                {"title": "Detalle", "orderable": false},
                                {"title": "Editar", "orderable": false},
                                {"title": "Eliminar", "orderable": false}
                            ],
                            'columnDefs': [
                                {
                                    "targets": [0,5,6,7],
                                    "className": "text-center",
                                    "width": "4%"
                                }
                            ],
                            "oLanguage": {
                                "sSearch": "Buscar"
                            }
                        });
                        const queryString = window.location.search;
                        const urlParams = new URLSearchParams(queryString);
                        const programId = urlParams.get('programId')
                        $.ajax({
                            url: './api/programs/' + programId + "/sessions",
                            type: 'get',
                            dataType: 'json',
                            success: function (data) {
                                $.each(data, function (i, item) {
                                    table.row.add([item.sessionOrder, item.name, new Date(item.createdAt).toLocaleDateString("es-ES"), item.exercisesNumber, item.setsNumber, 
                                    '<a href="./sessions?programId=' + item.id + '" class="btn btn-info btn-icon-split"><span class="icon text-white-50"><i class="fas fa-info-circle"></i></span></a>',                                       
                                    '<a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#programModal" onclick="setEditModalData(' + item.id + ');"><span class="icon text-white-50"><i class="fas fa-edit"></i></span></a>',
                                    '<a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#deleteModal" onclick="setEditModalData(' + item.id + ');" ><span class="icon text-white-50"><i class="fas fa-trash"></i></span></a>'

                                ]);
                                });
                                table.draw();
                            }
                        });
                    }

                    function setEditModalData(programId) {
                        $("option:selected").prop("selected", false);
                        if(programId) {
                            $.ajax({
                                url: './api/programs/' + programId,
                                type: 'get',
                                dataType: 'json',
                                success: function (data) {
                                    $("#staticBackdropLabel").text("Editar programa");
                                    $('#programForm').attr('action', 'updateProgram');
                                    $("#programIdDelete").val(data.id);
                                    $("#programId").val(data.id);
                                    $("#programName").val(data.name);
                                    $("#programUrl").val(data.url);
                                    $("#programDescription").val(data.description);
                                    $("#programLevel").children('[value="' + data.level +'"]').attr('selected', true);
                                }
                            });
                        } else {
                            $("#staticBackdropLabel").text("Crear programa");
                            $('#programForm').attr('action', 'createProgram');
                            $("#programIdDelete").val('');
                            $("#programId").val('');
                            $("#programName").val('');
                            $("#programUrl").val('');
                            $("#programDescription").val('');
                        }
                    }

                    $(document).ready(function () {
                        loadTableData();
                    });
                </script>

            </div>
            <!-- End of Main Content -->

            <div th:replace="components/footer.html :: footer"></div>
        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Create / Edit Program Modal-->
    <div class="modal fade" id="programModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="programForm" name="programDto" action="updateProgram" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Crear programa</h5>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="programId" name="id" hidden>
                        <div class="mb-3"><label for="name">Nombre</label><input class="form-control" id="programName" name="name" required></div>
                        <div class="mb-3">
                            <label for="level">Nivel</label>
                            <select class="form-control" id="programLevel" name="level" required>
                                <option value="EASY">EASY</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="HARD">HARD</option>
                            </select>
                        </div>
                        <div class="mb-3"><label for="url">Url</label><input class="form-control" id="programUrl" name="url"></div>
                        <div class="mb-0"><label for="description">Descripcion</label><textarea class="form-control" id="programDescription" name="description" rows="3"></textarea></div>
                    </div>
                    <div class="modal-footer">                    
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Program Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="programForm" name="programDto" action="deleteProgram" method="post" enctype="application/x-www-form-urlencoded">
                    <input class="form-control" id="programIdDelete" name="id" hidden>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar programa</h5>
                    </div>
                    <div class="modal-body">
                        ¿Desea eliminar el programa?
                    </div>
                    <div class="modal-footer">                    
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-danger" type="submit" >Eliminar</button>
                    </div>      
                </form>       
            </div>
        </div>
    </div>

    <div th:replace="components/logoutmodal.html :: logoutmodal"></div> 
    <div th:replace="components/commonscripts.html :: commonscripts"></div> 
</body>
</html>